* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.uncensored {
    margin-bottom: 2rem;
}

.bold {
    font-weight: bold;
}

.margin-b {
    margin-bottom: 1rem;
}